<?xml version='1.0' encoding='windows-1252'?>

<?if $(sys.BUILDARCH) = x64 or $(sys.BUILDARCH) = arm64 ?>
    <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
<?else ?>
    <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
<?endif ?>

<Wix
    xmlns='http://schemas.microsoft.com/wix/2006/wi'
    xmlns:util='http://schemas.microsoft.com/wix/UtilExtension'>

    <Product
        Id='*'
        Name='MetronomeApp'
        UpgradeCode='179445E7-8903-45E5-AA3C-D6F38E714AEE'
        Manufacturer='Bazooka'
        Language='1033'
        Codepage='1252'
        Version='$(var.Version)'>

        <Package
            Id='*'
            Keywords='Installer'
            Description='A customizable tempo metronome with tempo curves and sound options'
            Manufacturer='Bazooka'
            InstallerVersion='450'
            Languages='1033'
            Compressed='yes'
            InstallScope='perMachine'
            SummaryCodepage='1252' />

        <!--
            Find any existing MetronomeApp install with the same UpgradeCode,
            regardless of whether it is older, newer, or the same version.
        -->
        <Upgrade Id='179445E7-8903-45E5-AA3C-D6F38E714AEE'>
            <UpgradeVersion
                Minimum='0.0.0'
                IncludeMinimum='yes'
                Maximum='99.0.0'
                IncludeMaximum='yes'
                Property='PREVIOUSVERSIONSINSTALLED' />
        </Upgrade>

        <Media Id='1' Cabinet='media1.cab' EmbedCab='yes' DiskPrompt='CD-ROM #1' />
        <Property Id='DiskPrompt' Value='MetronomeApp Installation' />

        <Directory Id='TARGETDIR' Name='SourceDir'>

            <Directory Id='ProgramMenuFolder' />

            <Directory Id='DesktopFolder' Name='Desktop' />

            <Directory Id='AppDataFolder'>
                <Directory Id='CompanyAppDataFolder' Name='Bazooka'>
                    <Directory Id='AppAppDataFolder' Name='MetronomeApp'>
                        <Directory Id='ConfigFolder' Name='config'>
                            <Component Id='CreateConfigFolder' Guid='*'>
                                <CreateFolder />

                                <!--
                                    These satisfy ICE64 and remove EMPTY folders.
                                    Actual recursive config deletion is handled by
                                    DeleteConfigFolderOnRealUninstall, but only on real uninstall.
                                -->
                                <RemoveFolder
                                    Id='RemoveConfigFolder'
                                    Directory='ConfigFolder'
                                    On='uninstall' />

                                <RemoveFolder
                                    Id='RemoveAppAppDataFolder'
                                    Directory='AppAppDataFolder'
                                    On='uninstall' />

                                <RemoveFolder
                                    Id='RemoveCompanyAppDataFolder'
                                    Directory='CompanyAppDataFolder'
                                    On='uninstall' />

                                <RegistryValue
                                    Root='HKCU'
                                    Key='Software\Bazooka\MetronomeApp'
                                    Name='ConfigFolderCreated'
                                    Type='integer'
                                    Value='1'
                                    KeyPath='yes' />
                            </Component>
                        </Directory>
                    </Directory>
                </Directory>
            </Directory>

            <Directory Id='$(var.PlatformProgramFilesFolder)' Name='PFiles'>
                <Directory Id='CompanyProgramFilesFolder' Name='Bazooka'>
                    <Directory Id='APPLICATIONFOLDER' Name='MetronomeApp'>
                        <Component Id='License' Guid='*'>
                            <File
                                Id='LicenseFile'
                                DiskId='1'
                                Source='wix\License.rtf'
                                KeyPath='yes' />
                        </Component>

                        <Component Id='UninstallShortcutComponent' Guid='*'>
                            <Shortcut
                                Id='UninstallShortcut'
                                Name='Uninstall MetronomeApp'
                                Description='Uninstall MetronomeApp'
                                Target='[System64Folder]msiexec.exe'
                                Arguments='/x [ProductCode]'
                                WorkingDirectory='System64Folder' />

                            <RegistryValue
                                Root='HKLM'
                                Key='Software\Bazooka\MetronomeApp'
                                Name='UninstallShortcut'
                                Type='integer'
                                Value='1'
                                KeyPath='yes' />
                        </Component>

                        <Component Id='ConfigFolderShortcutComponent' Guid='*'>
                            <Shortcut
                                Id='ConfigFolderShortcut'
                                Name='Config'
                                Description='Open the MetronomeApp config folder'
                                Target='[ConfigFolder]'
                                WorkingDirectory='ConfigFolder' />

                            <RegistryValue
                                Root='HKLM'
                                Key='Software\Bazooka\MetronomeApp'
                                Name='ConfigFolderShortcut'
                                Type='integer'
                                Value='1'
                                KeyPath='yes' />
                        </Component>

                        <Component Id='ApplicationFolderCleanupComponent' Guid='*'>
                            <RemoveFolder
                                Id='RemoveApplicationFolder'
                                Directory='APPLICATIONFOLDER'
                                On='uninstall' />

                            <RemoveFolder
                                Id='RemoveCompanyProgramFilesFolder'
                                Directory='CompanyProgramFilesFolder'
                                On='uninstall' />

                            <RegistryValue
                                Root='HKLM'
                                Key='Software\Bazooka\MetronomeApp'
                                Name='ApplicationFolderCleanup'
                                Type='integer'
                                Value='1'
                                KeyPath='yes' />
                        </Component>

                        <Component Id='binary0' Guid='*'>
                            <File
                                Id='exe0'
                                Name='MetronomeApp.exe'
                                DiskId='1'
                                Source='$(var.CargoTargetBinDir)\MetronomeApp.exe'
                                KeyPath='yes'>

                                <Shortcut
                                    Id='StartMenuShortcut'
                                    Directory='ProgramMenuFolder'
                                    Name='MetronomeApp'
                                    Description='Launch MetronomeApp'
                                    WorkingDirectory='APPLICATIONFOLDER'
                                    Advertise='yes' />

                                <Shortcut
                                    Id='DesktopShortcut'
                                    Directory='DesktopFolder'
                                    Name='MetronomeApp'
                                    Description='Launch MetronomeApp'
                                    WorkingDirectory='APPLICATIONFOLDER'
                                    Advertise='yes' />

                            </File>
                        </Component>

                        <Directory Id='AssetsFolder' Name='assets'>

                            <Directory Id='IconsFolder' Name='icons'>
                                <Component Id='AssetIcons' Guid='D79B3034-9C5B-4E02-9C2A-B19618240C6E'>
                                    <File Id='AssetDownPng' Source='$(var.CargoTargetBinDir)\assets\icons\down.png' KeyPath='yes' />
                                    <File Id='AssetDownArrowPng' Source='$(var.CargoTargetBinDir)\assets\icons\down_arrow.png' />
                                    <File Id='AssetDuplicatePng' Source='$(var.CargoTargetBinDir)\assets\icons\duplicate.png' />
                                    <File Id='AssetIconAseprite' Source='$(var.CargoTargetBinDir)\assets\icons\icon.aseprite' />
                                    <File Id='AssetIconIco' Source='$(var.CargoTargetBinDir)\assets\icons\icon.ico' />
                                    <File Id='AssetIconPng' Source='$(var.CargoTargetBinDir)\assets\icons\icon.png' />
                                    <File Id='AssetIconRc' Source='$(var.CargoTargetBinDir)\assets\icons\icon.rc' />
                                    <File Id='AssetMinusPng' Source='$(var.CargoTargetBinDir)\assets\icons\minus.png' />
                                    <File Id='AssetMorePng' Source='$(var.CargoTargetBinDir)\assets\icons\more.png' />
                                    <File Id='AssetPlusPng' Source='$(var.CargoTargetBinDir)\assets\icons\plus.png' />
                                    <File Id='AssetRightArrowPng' Source='$(var.CargoTargetBinDir)\assets\icons\right_arrow.png' />
                                    <File Id='AssetSavePng' Source='$(var.CargoTargetBinDir)\assets\icons\save.png' />
                                    <File Id='AssetTabAseprite' Source='$(var.CargoTargetBinDir)\assets\icons\tab.aseprite' />
                                    <File Id='AssetTabPng' Source='$(var.CargoTargetBinDir)\assets\icons\tab.png' />
                                    <File Id='AssetTrashPng' Source='$(var.CargoTargetBinDir)\assets\icons\trash.png' />
                                    <File Id='AssetUpPng' Source='$(var.CargoTargetBinDir)\assets\icons\up.png' />
                                </Component>
                            </Directory>

                            <Directory Id='SoundsFolder' Name='sounds'>

                                <Directory Id='SoundsBeepFolder' Name='beep'>
                                    <Component Id='AssetSoundsBeep' Guid='93D32471-4345-455C-A3DB-6606463CD6D7'>
                                        <File Id='AssetBeepWav' Source='$(var.CargoTargetBinDir)\assets\sounds\beep\beep.wav' KeyPath='yes' />
                                        <File Id='AssetBeepStrongWav' Source='$(var.CargoTargetBinDir)\assets\sounds\beep\beep_strong.wav' />
                                        <File Id='AssetBeepSubdivisionWav' Source='$(var.CargoTargetBinDir)\assets\sounds\beep\beep_subdivision.wav' />
                                        <File Id='AssetBeepWeakWav' Source='$(var.CargoTargetBinDir)\assets\sounds\beep\beep_weak.wav' />
                                    </Component>
                                </Directory>

                                <Directory Id='SoundsClaveFolder' Name='clave'>
                                    <Component Id='AssetSoundsClave' Guid='50643C0A-232D-4767-8A1F-D7D25A6B1F11'>
                                        <File Id='AssetClaveWav' Source='$(var.CargoTargetBinDir)\assets\sounds\clave\clave.wav' KeyPath='yes' />
                                        <File Id='AssetClaveStrongWav' Source='$(var.CargoTargetBinDir)\assets\sounds\clave\clave_strong.wav' />
                                        <File Id='AssetClaveSubdivisionWav' Source='$(var.CargoTargetBinDir)\assets\sounds\clave\clave_subdivision.wav' />
                                        <File Id='AssetClaveWeakWav' Source='$(var.CargoTargetBinDir)\assets\sounds\clave\clave_weak.wav' />
                                    </Component>
                                </Directory>

                                <Directory Id='SoundsCowbellFolder' Name='cowbell'>
                                    <Component Id='AssetSoundsCowbell' Guid='42E58C49-1AFD-48C4-A34D-F36DCD88C92E'>
                                        <File Id='AssetCowbellWav' Source='$(var.CargoTargetBinDir)\assets\sounds\cowbell\cowbell.wav' KeyPath='yes' />
                                        <File Id='AssetCowbellStrongWav' Source='$(var.CargoTargetBinDir)\assets\sounds\cowbell\cowbell_strong.wav' />
                                        <File Id='AssetCowbellSubdivisionWav' Source='$(var.CargoTargetBinDir)\assets\sounds\cowbell\cowbell_subdivision.wav' />
                                        <File Id='AssetCowbellWeakWav' Source='$(var.CargoTargetBinDir)\assets\sounds\cowbell\cowbell_weak.wav' />
                                    </Component>
                                </Directory>

                                <Directory Id='SoundsDrumsFolder' Name='drums'>
                                    <Component Id='AssetSoundsDrums' Guid='6EB2680E-F77D-4ACB-9517-FBD68A5B9FF5'>
                                        <File Id='AssetDrumsWav' Source='$(var.CargoTargetBinDir)\assets\sounds\drums\drums.wav' KeyPath='yes' />
                                        <File Id='AssetDrumsStrongWav' Source='$(var.CargoTargetBinDir)\assets\sounds\drums\drums_strong.wav' />
                                        <File Id='AssetDrumsSubdivisionWav' Source='$(var.CargoTargetBinDir)\assets\sounds\drums\drums_subdivision.wav' />
                                        <File Id='AssetDrumsWeakWav' Source='$(var.CargoTargetBinDir)\assets\sounds\drums\drums_weak.wav' />
                                    </Component>
                                </Directory>

                                <Directory Id='SoundsThumpFolder' Name='thump'>
                                    <Component Id='AssetSoundsThump' Guid='F64A60E5-FAF5-44B0-B871-61C66FE43029'>
                                        <File Id='AssetThumpWav' Source='$(var.CargoTargetBinDir)\assets\sounds\thump\thump.wav' KeyPath='yes' />
                                        <File Id='AssetThumpStrongWav' Source='$(var.CargoTargetBinDir)\assets\sounds\thump\thump_strong.wav' />
                                        <File Id='AssetThumpSubdivisionWav' Source='$(var.CargoTargetBinDir)\assets\sounds\thump\thump_subdivision.wav' />
                                        <File Id='AssetThumpWeakWav' Source='$(var.CargoTargetBinDir)\assets\sounds\thump\thump_weak.wav' />
                                    </Component>
                                </Directory>

                                <Directory Id='SoundsToneFolder' Name='tone'>
                                    <Component Id='AssetSoundsTone' Guid='5E9E265E-99EB-490C-A781-F39E4A0A937D'>
                                        <File Id='AssetToneWav' Source='$(var.CargoTargetBinDir)\assets\sounds\tone\tone.wav' KeyPath='yes' />
                                        <File Id='AssetToneStrongWav' Source='$(var.CargoTargetBinDir)\assets\sounds\tone\tone_strong.wav' />
                                        <File Id='AssetToneSubdivisionWav' Source='$(var.CargoTargetBinDir)\assets\sounds\tone\tone_subdivision.wav' />
                                        <File Id='AssetToneWeakWav' Source='$(var.CargoTargetBinDir)\assets\sounds\tone\tone_weak.wav' />
                                    </Component>
                                </Directory>
                            </Directory>
                        </Directory>
                    </Directory>
                </Directory>
            </Directory>
        </Directory>

        <Feature
            Id='Binaries'
            Title='Application'
            Description='Installs MetronomeApp.'
            Level='1'
            ConfigurableDirectory='APPLICATIONFOLDER'
            AllowAdvertise='no'
            Display='expand'
            Absent='disallow'>

            <ComponentRef Id='License' />
            <ComponentRef Id='binary0' />

            <!-- Config folder + shortcut to it -->
            <ComponentRef Id='CreateConfigFolder' />
            <ComponentRef Id='ConfigFolderShortcutComponent' />

            <!-- Uninstall shortcut -->
            <ComponentRef Id='UninstallShortcutComponent' />
            <ComponentRef Id='ApplicationFolderCleanupComponent' />

            <ComponentRef Id='AssetIcons' />
            <ComponentRef Id='AssetSoundsBeep' />
            <ComponentRef Id='AssetSoundsClave' />
            <ComponentRef Id='AssetSoundsCowbell' />
            <ComponentRef Id='AssetSoundsDrums' />
            <ComponentRef Id='AssetSoundsThump' />
            <ComponentRef Id='AssetSoundsTone' />
        </Feature>

        <SetProperty Id='ARPINSTALLLOCATION' Value='[APPLICATIONFOLDER]' After='CostFinalize' />

        <!-- Optional: Add/Remove Programs icon. Uncomment after confirming wix\Product.ico exists. -->
        <!--
        <Icon Id='ProductICO' SourceFile='wix\Product.ico' />
        <Property Id='ARPPRODUCTICON' Value='ProductICO' />
        -->

        <Property Id='ARPHELPLINK' Value='https://github.com/UnbrokenHunter/Metronome-App' />

        <Property Id='WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT' Value='Launch MetronomeApp' />

        <Property Id='WixShellExecTarget' Value='[#exe0]' />

        <CustomAction
            Id='LaunchApplication'
            BinaryKey='WixCA'
            DllEntry='WixShellExec'
            Impersonate='yes' />

        <!--
            Set the command for WixQuietExec at runtime.
            This avoids the illegal [AppDataFolder] property reference warning.
        -->
        <SetProperty
            Id='DeleteConfigFolderOnRealUninstall'
            Value='&quot;[SystemFolder]cmd.exe&quot; /C rmdir /S /Q &quot;[AppDataFolder]Bazooka\MetronomeApp\config&quot;'
            Before='DeleteConfigFolderOnRealUninstall'
            Sequence='execute' />

        <CustomAction
            Id='DeleteConfigFolderOnRealUninstall'
            BinaryKey='WixCA'
            DllEntry='WixQuietExec'
            Execute='deferred'
            Return='ignore'
            Impersonate='yes' />

        <InstallExecuteSequence>
            <!--
                Remove any installed MetronomeApp with the same UpgradeCode,
                including older, newer, and same-version installs.
            -->
            <RemoveExistingProducts After='InstallValidate' />

            <!-- Delete config only on a real uninstall, never during replacement/upgrade. -->
            <Custom
                Action='DeleteConfigFolderOnRealUninstall'
                Before='RemoveFiles'>
                REMOVE="ALL" AND NOT UPGRADINGPRODUCTCODE
            </Custom>
        </InstallExecuteSequence>

        <UI>
            <UIRef Id='WixUI_InstallDir' />
            <Property Id='WIXUI_INSTALLDIR' Value='APPLICATIONFOLDER' />

            <!-- Skip the license dialog. -->
            <Publish Dialog='WelcomeDlg' Control='Next' Event='NewDialog' Value='InstallDirDlg' Order='99'>1</Publish>
            <Publish Dialog='InstallDirDlg' Control='Back' Event='NewDialog' Value='WelcomeDlg' Order='99'>1</Publish>

            <!-- Launch app from final installer screen if checkbox is checked. -->
            <Publish
                Dialog='ExitDialog'
                Control='Finish'
                Event='DoAction'
                Value='LaunchApplication'
                Order='1'>
                WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 AND NOT Installed
            </Publish>
        </UI>

        <!-- Optional custom installer banner. BMP should be 493 x 58. -->
        <!-- <WixVariable Id='WixUIBannerBmp' Value='wix\Banner.bmp' /> -->

        <!-- Optional custom installer dialog image. BMP should be 493 x 312. -->
        <!-- <WixVariable Id='WixUIDialogBmp' Value='wix\Dialog.bmp' /> -->

    </Product>

</Wix>
